<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup style="background-color:red">
        <h1>Error2.</h1>
        <h2>An error2 occurred while processing your request.</h2>
       
    </hgroup>
</body>
</html>
